.navbar {
  width: 100%;
  height: 84px;
  padding: 0 24px;
  border-bottom: 1px solid var(--lightWhite);
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 45px;
  height: 45px;
}

.logoTitle {
  margin-left: 12px;
}

.navLink {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}