.tableWrapper {
  margin: 24px;
}

.table {
  width: 100%;
}

.table,
.tableHead,
.tableData {
  text-align: left;
  padding: 8px;
  border: 1px solid #adadad;
  border-collapse: collapse;
}

.tableRow:nth-child(even) {
  background-color: var(--lightWhite);
}

.description {
  font-size: 14px;
  color: #4f4d4d;
}

.notMemberTag {
  display: inline-block;
  min-width: 114px;
  background: #7d7d7d;
  color: var(--lightWhite);
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 5px;
  text-transform: uppercase;
}

.memberTag {
  display: inline-block;
  min-width: 114px;
  background: #0198e3;
  color: var(--lightWhite);
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 5px;
  text-transform: capitalize;
}

.joinBtn {
  min-width: 114px;
  margin: 24px;
  padding: 8px 0;
  border: 1px solid #adadad;
  color: #000;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
}
