* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --whiteLighter: #eee;
  --lightWhite: #adadad;
  --dark: #000;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background: var(--white);
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
